---
import Egoera from '../../components/Egoera';
import H1 from '../../components/H1';
import Image from '../../components/Image';
import Leaflet from '../../components/Leaflet.astro';
import climbings from '../../contents/climbings';
import mountains from '../../contents/mountains';
import userdata from '../../contents/userdata/index.json';
import Layout from '../../layouts/Layout.astro';

export function getStaticPaths() {
  return Object.keys(mountains).map((key) => {
    return {
      params: {
        id: key,
      },
    };
  });
}

const mountain = mountains[Astro.params.id];
---

<Layout title={`${mountain.title} - Baietz 312!`}>
  <div>
    <H1>{mountain.title}</H1>
    <div class="grid md:grid-cols-2">
      <div class="mt-10">
        <p>
          <ul>
            <li>
              <strong>Altuera:</strong>
              {mountain.altuera}
            </li>
            <li>
              <strong>Mendizerra:</strong>
              {mountain.mendizerra}
            </li>
            <li>
              <strong>Sektorea:</strong>
              {mountain.sektorea}
            </li>
          </ul>
        </p>
        <div class="w-full mr-5 mt-5">
          <Leaflet
            container="leafletmap"
            latitude={mountain.lat}
            longitude={mountain.lon}
            zoom={17}
            tileLayer="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
            attribution="© <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a> contributors"
            containerstyle="width: 95%; height: 256px"
          />
        </div>
      </div>
      <div class="sm:mt-10 md:mt-10">
        {
          mountain.items.length > 0 ? (
            mountain.items.map((item, key) => {
              return (
                <div
                  key={key}
                  href={`/mendiak/${mountain.id}/`}
                  class="block p-6 mb-10 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
                >
                  <p class="mb-2 tracking-tight text-gray-900 dark:text-white">
                    <strong class="font-bold">Egoera:</strong>{' '}
                    <Egoera egoera={climbings[item.UID].egoera} />
                    <br />
                    <strong class="font-bold">Eguna:</strong>{' '}
                    {climbings[item.UID]['egindako_eguna'] ||
                      climbings[item.UID]['eguna']}
                    <br />
                    <strong class="font-bold">Mendizalea:</strong>{' '}
                    {climbings[item.UID]['mendizalea'] ||
                      climbings[item.UID]['mendizaleak'] ||
                      climbings[item.UID]['mendia_igo_duena'] ||
                      userdata[item.creators[0]]}
                    {climbings[item.UID]['oharrak'] && (
                      <span class="block mt-5 text-gray-900 dark:text-white">
                        {climbings[item.UID]['oharrak']}
                      </span>
                    )}
                  </p>
                  <div class="mb-5">
                    {climbings[item.UID].items.map((image, index) => (
                      <Image
                        className="mb-5"
                        climbing_uid={item.UID}
                        image_uid={image.UID}
                        alt={`${mountain.title} mendirako igoeraren argazkia`}
                        image={image.image}
                        sizes="50vw"
                      />
                    ))}
                  </div>
                </div>
              );
            })
          ) : (
            <p class="text-center text-4xl font-bold uppercase">Ez da egin</p>
          )
        }
      </div>
    </div>
  </div>
</Layout>
